<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="height: 100%">

<!--<div class="panel panel-success">-->
<!--  <div class="panel-heading">-->
<!--    <h3 class="panel-title">铁头功</h3>-->
<!--  </div>-->
<!--  <div class="panel-body">-->
<!--      <div class="row">-->
<!--          <div style="float: left; width: 80%">-->
<!--              <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 19:00-20:00 2019-11-4 <br>-->
<!--              <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 一龙 <br>-->
<!--              <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 合肥中科大店 <br>-->
<!--          </div>-->
<!--          <div style="float: right; width: 10%;">-->
<!--          </div>-->
<!--              <br>-->
<!--              <button type="button" class="btn btn-info">预约</button>-->
<!--          </div>-->
<!--      </div>-->
<!--  </div>-->
<!--</div>-->



</body>
</html>